<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field flex-form">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "border_8px"%>
  </div>

  <div class="field flex-form">
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_area :summary, class: "border_8px" %>
  </div>

  <div class="field flex-form">
    <%= form.label :release_date, style: "display: block" %>
    <%= form.date_field :release_date, class: "border_8px" %>
  </div>

  <div class="field flex-form">
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, Game.categories.keys.map{ |key| [key.humanize, key] }, selected: game.category || :draft %>
  </div>

  <div class="field flex-form">
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating, class: "border_8px" %>
  </div>
  
  <div class="flex-form margin_block_start">
    <%= form.label :cover, style: "display: block" %>
    <%= image_tag @game.cover, alt: "Image logo", class: "image" %>
    <%= form.file_field :cover, class: "border_8px margin_block_start" %>
  </div>

  <div class="flex-form margin_block_start">
    <%= form.submit class: "button button--primary"%>
  </div>
<% end %>
