<div id="<%= dom_id game %>">
  <% if game.cover.attached? %>
    <div>
      <%= image_tag game.cover, alt: "Image logo" %>
    </div>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= game.release_date %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= game.summary %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= game.rating %>
  </p>

  <p>Critics: <%= game.critics.size %></p>

</div>
