<p style="color: green"><%= notice %></p>

<h1>Games</h1>

<%= link_to "New game", new_game_path%>

<div id="games">

  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
      <%= link_to "Edit this game", edit_game_path(game) %>
      <%= button_to "Destroy this game", game, method: :delete %>
    </p>
  <% end %>
</div>
