<div id="<%= dom_id company %>">
  <% if company.cover.has_attached? %>
    <div>
      <%= image_tag company.cover %>
    </div>
  <% else %>
    <div>
      <%= image_tag "companies/default_company_image.png" %>
    </div>
  <% end %>

  <h2><%= company.name%></h2>
  <p><%= company.start_date %> - <%= company.country%></p>
  
  <!--Details-->
  <div> 
    <h3>Company Details</h3>
    <p> <%= company.description %> </p>
  </div>

  <!--Critics-->
  <%= render "critics", company: company, critics: critics, critic_new: critic_new %>
  
  <!--Games-->
  <%= render "games", company: company%>

  <%= link_to "Back",  url_for(:back) %>
</div>
