<div>
    <div class="company-critics--create">
        <%= form_with url: company_critics_path(company), model: critic_new do |form| %>
            <div class="mb-0.5">
                <%= form.text_field :title, placeholder: "Critic title", class: "input" %>
                <% critic_new.errors.full_messages_for(:title).each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </div>
            <div>
                <%= form.text_area :body, placeholder: "Critic body...", class: "input"%>
                <% critic_new.errors.full_messages_for(:body).each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </div>
            <div>
                <%= form.submit class: "button button--primary btn-width100 overline"%>
            </div>
        <% end %>
    </div>
    <% critics.each do |critic| %>
        <div class="company-critics">
            <div class="company-critics__header"> <!--Critic header-->
                <h3><%= critic.title %></h3>
                <p>By <%= critic.user.username %></p>
            </div>
            <div class="company-critics__body">  <!--Critic body-->
                <p><%= critic.body %></p>
            </div>
            <div class="company-critics__footer">   <!-- Critic footer -->
                <p> Send <%= time_ago_in_words(critic.created_at) %> ago</p>
                <%#= link_to "Delete critic",  company_critic_path(company, critic),  method: "delete" %>
                <%= link_to company_critic_path(company, critic), data: { turbo_method: :delete } do %>
                    <%= image_tag "icons/erased.png"%>
                <% end %>
            </div>
        </div>
    <% end %>
</div>