


<section class = "section-md flex">
  <div class = "container-md background_white">
      <h2 class= "center">Sign in to your account</h2>
      <p class="continue_with ">Continue with</p>
      <%= link_to "GITHUB", "#", class: "sign_in_button button text-decoration-none button--primary"%>
      <%= link_to "TWITTER", "#", class: "sign_in_button button text-decoration-none button--primary"%>
      <%= form_for(resource, as: resource_name, class: "background_white", url: session_path(resource_name)) do |f| %>
        <%# <span class="continue_with">Continue with</span><br /><br /> %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@mail.com"%>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "********" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <section class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </section>
          <% end %>

          <div class="actions">
            <%= f.submit "Sign in", class: "button text-decoration-none button--primary" %>
          </div>

      <% end %>

    </div>
    <div class="container-md">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>