    <header class="header">
      <!-- bg gray -->
      <div class="container-lg">
        <nav class="navbar">
          <input type="checkbox" id="menu-mobile" />

          <a href="/companies" class="text-decoration-none header--menu-mobile">
            <!-- content -->
            <!-- <%= link_to companies_path, class: "text-decoration-none header--menu-mobile" do %> -->
            <%= image_tag "icons/logo.png" %>
          </a>

            <!-- option 1 -->
            <label for="menu-mobile" id="toggle-close">
              <i class="ri-close-fill ri-xl"></i>
            </label>

            <!-- option 2 -->
            <label for="menu-mobile" id="toggle-open">
              <i class="ri-menu-line ri-xl"></i>
            </label>
          <!-- <% end %> -->
            
          <ul class="expandable navbar--links list-style-none">
            <% if current_user.admin? %>
                <li>
                  <a href="#" class="link text-sm">Message</a>
                </li>
            <% end %>
            <li>
              <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "link text-sm"%>
            </li>
            <li>
              <%= link_to "Games", games_path, class: "link text-sm" %>
            </li>
            <li>
              <%= link_to "Companies", companies_path, class: "link text-sm" %>
            </li>
            <% if current_user %>
                <li>
                    <%= link_to "Logout", destroy_user_session_path, class: "button text-decoration-none button--secondary", data: {turbo_method: :delete } %>
                </li>
            <% else %>
                <li>
                    <%= link_to "Login", new_user_session_path,  class: "button text-decoration-none button--primary"%>
                </li>
            <% end %>
          </ul>

        </nav>
      </div>   
</header>