<!DOCTYPE html>
<html>
  <head>
    <title>CriticsRc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class="body">
     <%= render "layouts/header"%>
    
    <% if alert %>
      <div class = "alert_not_logged_in">
        <p><%= alert %></p>
        <%= link_to "Sign in", new_user_session_path , class: " button text-decoration-none button--primary" %>
      </div>
    <% end %>

    <section class="section-sm">
      <div class="container-sm">
        <% if current_user %>
          <% if current_user.admin?%>
            <p>Welcome, <%= current_user.username %> you are an admin</p>
          <% else %>
            <p>Welcome, <%= current_user.username %></p>
          <% end %>    
        <% end %>
      </div>
    </section>

  
    <%= yield %>
    <%= render "layouts/footer"%>

  </body>
</html>
