<!DOCTYPE html>
<html>
  <head>
    <title>CriticsRc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body">
    <%= render "layouts/header"%>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if current_user %>

      <% if current_user.admin?%>
        <p>Welcome, <%= current_user.username %> you are an admin</p>
      <% else %>
        <p>Welcome, <%= current_user.username %></p>
      <% end %>

      <%= link_to "Edit profile", edit_user_registration_path(current_user) %>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>

    <% else %>
      <div class = "alert_not_logged_in">
        <p>Sign in to start criting games and companies</p>
        <%= link_to "Sign in", new_user_session_path , class: " button text-decoration-none button--primary" %>
      </div>
    <%= link_to "Create account", new_user_registration_path %>
    <%= link_to "login", new_user_session_path %>
    <% end %>
  
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
